
<div id="splash">
<div class="page-header">
</div>
<main>
  <div class="sign-in">
    <h1>Triptography</h1>
    <!-- <h3>Search</h3> -->
    <div class="search">
      <input class="location" type="text" placeholder="Enter City">
      <button class="search">Search</button>
    </div>
    <!-- <h3>Sign In</h3> -->
    <div class="login">
      <input class="email" type="text" placeholder="Email">
      <input class="password" type="password" placeholder="Password">
      <button class="login">Sign In</button>
     <!--  <%= form_tag(session_path) do %>
        <%= label_tag(:email) %><br>
        <%= text_field_tag(:email) %><br>
        <%= label_tag(:password) %><br>
        <%= password_field_tag(:password) %><br>
        <%= submit_tag('submit') %>
      <% end %>
      <p style="color: red"><%= flash[:error] %></p>
      <p style="color: green;"><strong><%= flash[:notice] %></strong><p> -->
    </div>
    <br>
    <div class="signup">
      <h4><%= link_to('Sign up!', new_user_path) %></h4>
    </div>
</main>
</div>
